<?xml version='1.0' encoding='ANSI' ?><data><menu title="关于" id="about" file="about.swf" /><menu title="我的作品" id="work" file="work.swf" /><menu title="博客" id="blog" file="myBlog.swf" /><menu title="联系方式" id="contact" file="contact.swf" /><menu title="关于_1" id="about_1" file="about_1.swf" /><menu title="关于_2" id="about_2" file="about_2.swf" /></data>